/* .profileStatus span {
    display: block;
} */

.profileStatus input {
    display: none;
}

.profileStatus span.editMode {
    display: none;
}

.profileStatus input.editMode {
    display: block;
}

.description {
    font-weight: bold;
}