.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    background-color: rgb(182, 180, 180);
}

.messages {
    padding: 10px;
}

.messages .message {

}