.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.createMessage {
    width: 80%;
}

.newMessage {
    display: flex;
}

.newMessage textarea {
    height: 25px;
    resize: none;
    border-radius: 5px;
}

.newMessage button {
    height: 20px;
    align-self: flex-end;
}

